# =========================
# Mac / Linux
# =========================
.DS_Store

# =========================
# Python
# =========================
__pycache__/
.venv/

# =========================
# MongoDB (datos locales)
# =========================
data/
