# =========================
# Entorno virtual
# =========================
.venv/
venv/
env/

# =========================
# Python cache / compilados
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Distribución / packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Archivos de entorno
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log

# =========================
# Archivos de base de datos locales
# =========================
*.sqlite3
*.db

# =========================
# Pytest / coverage
# =========================
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# =========================
# MyPy
# =========================
.mypy_cache/

# =========================
# Ruff / linters
# =========================
.ruff_cache/

# =========================
# IDE / Editores
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Mac / Linux
# =========================
.DS_Store

# =========================
# Docker
# =========================
*.pid
